<div *ngIf="item">
  <h3>{{ item.name }}</h3>
  <h4>{{ item.currentPrice }}</h4>

  <button mat-raised-button (click)="refresh();">Refresh</button><br />

  <mat-form-field>
    <mat-label>Input Rate</mat-label>
    <input matInput type="number" value="item.currentPrice" [(ngModel)]="ratePrice">
    <button mat-button *ngIf="ratePrice" matSuffix mat-icon-button aria-label="Clear" (click)="ratePrice = null;">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button (click)="sendRate();" style="margin-left: 40px;">Place a bet</button>

  <ul>
    <li *ngFor="let rate of rates">
      {{ rate.rateId }}: [{{ rate.rateTime | date:'MM/dd/yyyy HH:mm:ss' }}] {{ rate.userName }} - {{ rate.price }}
    </li>
  </ul>

  <button mat-raised-button (click)="goBack();">Back</button><br />
</div>
